<div class="footer--block" data-block-type="menu">
  <div class="footer--block--heading">
     {{ block.settings.menu-title | escape }} <span class="ftoggle plus"></span>
  </div>
  <div class="footer--block--body">
    <p></p>
  </div>
</div>
